Search for a business:

<div class="topnav">
  <a class="active" href="#home">Edit Profile</a>
  <form>
    <input type="text" placeholder="Search For a Location." id="location" name="location">
    <input type="submit" value="Submit">
  </form>  
</div>

<b>Or</b>
Select A Priority:

<div class="btn-group">
  <button>Quietness</button>
  <button>Price</button>
  <button>Distances</button>
  <button>Food Quality</button>
  <button>Most Reviewed</button>
</div>

<div>
Results:
</div>
<div>
Write a Review:
</div>

<form>
  <label for="fname">Business name:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">Review:</label><br>
  <input type="text" id="lname" name="lname">
  <input type="submit" value="Submit">
</form>

<div> <h2>Change Your Password</h2></div>

<form>
  <label for="userName">Username:</label><br>
  <input type="text" id="userName" name="userName"><br>
  <label for="password">New Password:</label><br>
  <input type="text" id="password" name="password"><br>
  <input type="submit" value="Submit">
</form>
