
Search for a business:

<div class="topnav">
  <a class="active" href="#home">Edit Profile</a>
  <input type="text" placeholder="Search For a Location..">
</div>

<b>Or</b>
Select A Priority:

<div class="btn-group">
  <button>Quietness</button>
  <button>Price</button>
  <button>Distances</button>
  <button>Food Quality</button>
  <button>Most Reviewed</button>
</div>

<div>
Results:
</div>
<div>
Write a Review:
</div>

<form>
  <label for="fname">Business name:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">Review:</label><br>
  <input type="text" id="lname" name="lname">
  <input type="submit" value="Submit">
</form>
