{% comment %} <link rel="stylesheet" href="{{ url_for('static', filename='styles/custom.css') }}"> {% endcomment %}
<div class = "parent">
    <div class = "child inline"><h1>Search for a business</h1></div>

    <form class = "child inline">
    <label for="searchTopic">Search:</label><br>
    <input type="text" id="searchTopic" name="searchTopic"><br>
    <input type="submit" value="Submit">
    </form>
</div>

<div><h1>Or Select a priority</h1></div>

<div class="btn-group">
  <button>Quietness</button>
  <button>Price</button>
  <button>Distances</button>
  <button>Food Quality</button>
  <button>Most Reviewed</button>
</div>

<div><h2>Results</h2></div>

<div><h1>Write A Review</h1></div>

<form>
  <label for="fname">Business name:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">Review:</label><br>
  <input type="text" id="lname" name="lname">
  <input type="submit" value="Submit">
</form>

<div> <h2>Change Your Password</h2></div>

<form>
  <label for="userName">Username:</label><br>
  <input type="text" id="userName" name="userName"><br>
  <label for="password">New Password:</label><br>
  <input type="text" id="password" name="password"><br>
  <input type="submit" value="Submit">
</form>
